@import "tailwindcss";

@theme {
  --font-merriweather: "Merriweather", serif;
  --font-poppins: "Poppins", sans-serif;
}

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}


body {
  background: linear-gradient(135deg, #f8fafc 0%, #ffffff 100%);
  color: rgb(var(--foreground-rgb));
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}